
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Copse|Monoton|Racing+Sans+One&subset=latin-ext,vietnamese');
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Racing Sans One', cursive;
}

code {
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee Inline', cursive;
}

/** reset Buton*/
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
.neon{
  font-family: 'Quicksand', sans-serif;
  text-shadow: 0 0 20px #47DD6A;
}

.neon::after{
  content: attr(data-text);
  display: block;
  position: relative;
  margin-top: -3%;
  filter: blur(15px);
  z-index: 1;
}

.contenedor_neon{
  margin-bottom: 15px!important;
}
*/

/** Neon */
.neon_a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.neon .neon_a {
  color: #47DD6A;
}

.neon .neon_a:hover {
  color: #ffffff;
}

.neon .neon_a:hover {
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #47DD6A, 0 0 70px #47DD6A, 0 0 80px #47DD6A, 0 0 100px #47DD6A, 0 0 150px #47DD6A;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #47DD6A, 0 0 35px #47DD6A, 0 0 40px #47DD6A, 0 0 50px #47DD6A, 0 0 75px #47DD6A;
  }
}

/** Neon Buttons */

.content_btn_neon {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 15px;
  border-radius: 8px;
  border: 3px solid #47DD6A;
  cursor: pointer;
  width: 10%;
  box-shadow: 0 0 15px -1px #47DD6A, 
  0 0 12px -1px #47DD6A inset
}

.content_btn_neon:hover {
  animation: border-flicker 2s linear forwards;
}

.btn_neon {
  margin: 15px 0 0;
  color: white;
}

.content_btn_neon:hover .btn_neon {
  animation: text-flicker 2s linear forwards;
}

.content_btn_neon:hover .first {
  animation: letter-flicker 3s linear infinite;
}

@keyframes text-flicker {
  2% { 
    color: white;
    text-shadow: 0 0 15px white;
  }
  3% {
    color: gray;
    text-shadow: none;
  }
  6% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  9% {
    color: gray;
    text-shadow: none;
  }
  11% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  14% {
    color: gray;
    text-shadow: none;
  }
  18% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  32% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  33% {
    color: gray;
    text-shadow: none;
  }
  37% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  39% {
    color: gray;
    text-shadow: none;
  }
  43% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  46% {
    color: gray;
    text-shadow: none;
  }
  47% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  100% {
    color: white;
    text-shadow: 0 0 15px white;
  }
}

@keyframes letter-flicker {
    2% { 
    color: white;
    text-shadow: 0 0 15px white;
  }
  3% {
    color: gray;
    text-shadow: none;
  }
  6% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  9% {
    color: gray;
    text-shadow: none;
  }
  11% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  14% {
    color: gray;
    text-shadow: none;
  }
  18% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  32% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  33% {
    color: gray;
    text-shadow: none;
  }
  37% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  39% {
    color: gray;
    text-shadow: none;
  }
  40% {
    color: white;
    text-shadow: 0 0 15px white;
  }
  100% {
    color: white;
    text-shadow: 0 0 15px white;
  }
}

@keyframes border-flicker {
  2% {
    border: 3px solid #47DD6A;
    box-shadow: 0 0 15px -1px #47DD6A, 
    0 0 12px -1px #47DD6A inset;
  }
  3% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  5% {
    border: 3px solid #47DD6A;
    box-shadow: 0 0 15px -1px #47DD6A, 
    0 0 12px -1px #47DD6A inset;
  }
  6% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  7% {
    border: 3px solid #47DD6A;
    box-shadow: 0 0 15px -1px #47DD6A, 
    0 0 12px -1px #47DD6A inset;
  }
  9% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  13% {
    border: 3px solid #47DD6A;
    box-shadow: 0 0 15px -1px #47DD6A, 
    0 0 12px -1px #47DD6A inset;
  }
  16% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  18% {
    border: 3px solid #47DD6A;
    box-shadow: 0 0 15px -1px #47DD6A, 
    0 0 12px -1px #47DD6A inset;
  }
  22% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  34% {
    border: 3px solid #47DD6A;
    box-shadow: 0 0 15px -1px #47DD6A, 
    0 0 12px -1px #47DD6A inset;
  }
  36% {
    border: 3px solid rgb(0, 40, 70);
    box-shadow: none;
  }
  54% {
    border: 3px solid #47DD6A;
    box-shadow: 0 0 15px -1px #47DD6A, 
    0 0 12px -1px #47DD6A inset;
  }
  100% {
    border: 3px solid #47DD6A;
    box-shadow: 0 0 15px -1px #47DD6A, 
    0 0 12px -1px #47DD6A inset;
  }
}

/** Transition Router */
.fade-entered {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.fade-entering{
  opacity: 0;
}